<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo bold">tarjeta credito</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">
                        Guardar Tarjeta de credito
                    </h5>
                    <form action="">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Titular">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="far fa-credit-card"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Numero de tarjeta">
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success btn-lg btn-block" type="submit">
                                <i class="fas fa-database"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">
                        Listado de Tarjetas
                    </h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of listaCredito">
                                <td>{{tarjeta.titular}}</td>
                                <td>{{tarjeta.numero}}</td>
                                <td>{{tarjeta.exp_date}}</td>
                                <td>{{tarjeta.cvv}}</td>
                                <td><i class="fas fa-edit text-info"></i></td>
                                <td><i class="fas fa-trash text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>